ul.actions-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  line-height: 0;
}
.full-height {
  align-self: stretch;
  height: 30px;
  margin: 0px;
}
li.option-menu {
  align-items: stretch;
  display: flex;
  padding: 0 8px;
}
li.option-menu:first-child {
  padding-left: 0;
}
li.option-menu:last-child {
  padding-right: 0;
}
.link {
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 4px 8px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.link:hover {
  width: auto;
  height: auto;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
}
.option-menu .link.active {
  width: auto;
  height: auto;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
}
.rectangle-container-logo-alt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 87px;
  height: 34px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
}
.label {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}
.icon-label {
  font-size: 20px;
  color: #ffffff;
  margin-left: 24px;
  transition: transform 0.3s ease;
  &.rotated {
    transform: rotate(180deg);
  }
}
ul.dropdown-menu {
  display: flex;
  flex-direction: column;
  width: 150px;
  padding: 7px;
}
ul.dropdown-menu li {
  border-radius: 4px;
}
.custom-action-question {
  width: 21px;
  height: 21px;
  background-color: rgb(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
