.app-page-header {
  background: linear-gradient(90deg, #2e52f8 24.97%, #56a7f2);
  color: #fff;
  padding: 1px 16px;
}
.rectangle-container-logo-alt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 87px;
  height: 34px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
}
.app-page-header-title {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
}
