.app-page-header {
  background: linear-gradient(90deg, #2e52f8 24.97%, #56a7f2);
  color: #fff;
  padding: 1px 16px;
}

.app-page-header-title {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
}

.app-page-header-extra {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
}
