.division-container {
  padding: 17px 32px;
}
.radio-group label:first-child {
  border-radius: 4px 0 0 4px;
}
.radio-group label:last-child {
  border-radius: 0 4px 4px 0;
}
.division-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.search-container {
  display: flex;
  align-items: center;
  gap: 8px;
  & input {
    border-radius: 4px;
  }
}
